<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite" verbose="1" parallel="none" thread-count="1">    <test name="AllTests">
        <classes>
            <class name="tests.login.loginRunner"/>
            <class name="tests.product.ProductRunner"/>
            <class name="tests.checkout.checkoutRunner"/>
        </classes>
    </test>
</suite>